.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.clothing-item-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin: auto;
}

.clothing-item{
  width: 100%;
  min-height: 50px;
}

.input-container{
  max-width: 700px;
  margin: auto;
  padding: 10px;
}

.input-container .input-row{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-container label{
  width: 100%;
  Margin-bottom: 5px;
}
.sort-option-list{
  list-style:none;
  padding: 0;
}
.sort-option-list li{
  display: inline;
}

.selected {
  border: 2px solid rgb(0, 0, 255);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
